@(title: String)

@main(title) {
    <div class="product-data">
        <h4>About Us</h4>
        <br>
        <P>oeuoeu ouoeu oeueou oeueoueouoe uoeuoeu</P>
        <br>
        <p>Jumble each side of the broccoli with one package of turkey.</p>
        <br>
        <p>Per guest prepare a dozen pounds of tabasco with fluffed chicken for dessert.</p>
        <br>
        <table>
            <tr>
                <td><img class="newsImg" src="@routes.Assets.at("images/bg_player_profile_default_big.png")" alt="some image alt"></td>
                <td><b>oeueoueo oeuoe When the mas</b><br><p>All hands yell.Steak tastes best with peanut sauce and lots of nutmeg.With tunas drink iced tea.</p></td>
            </tr>
            <tr>
                <td><img class="newsImg" src="@routes.Assets.at("images/bg_player_profile_default_big.png")" alt="some image alt"></td>
                <td><b>oeueoueo oeuoe When the mas</b><br><p>All hands yell.Steak tastes best with peanut sauce and lots of nutmeg.With tunas drink iced tea.</p></td>
            </tr>
            <tr>
                <td><img class="newsImg" src="@routes.Assets.at("images/bg_player_profile_default_big.png")" alt="some image alt"></td>
                <td><b>oeueoueo oeuoe When the mas</b><br><p>All hands yell.Steak tastes best with peanut sauce and lots of nutmeg.With tunas drink iced tea.</p></td>
            </tr>
        </table>
    </div>
}
