@(title: String)

    @main(title) {



    <div id="slide-wrapper">
        <div id="slide" class="container">
            <div id="slide-controll">
                <a href="#" onclick="return sliderNB(this)" ;><</a>
                <a href="#" onclick="return sliderNB(this);">></a>
            </div>
            <div id="hero-slide">

                <figure id="show"><img src="@routes.Assets.at("images/11.jpg")" alt="">
                    <figcaption class="slide-overlay"><a href="@routes.Application.services()"><p>oeueou     ouoeueou euui ouoe oe ueueo ueo  Victrixs studere, tanquam bi-color fortis.</p></a> <p>Vae.Everyone just loves the creaminess of quinoa soup soakd with za'atar.</p></figcaption></figure>

                <figure class="hidden"><img src="@routes.Assets.at("images/6bc6e6b098513da6eb7e3353aa03f70e.jpg")" alt="">
                    <figcaption class="slide-overlay"><a href="@routes.Application.services()"><p>oeueou     ouoeueou euui ouoe oe ueueo ueo  Victrixs studere, tanquam bi-color fortis.</p></a> <p>Vae.Everyone just loves the creaminess of quinoa soup soakd with za'atar.</p></figcaption></figure>
                <figure class="hidden"><img src="@routes.Assets.at("images/039e59729341ec38242623b7ead0edc3.jpg")" alt="">
                    <figcaption class="slide-overlay"><a href="@routes.Application.services()"><p>oeueou     ouoeueou euui ouoe oe ueueo ueo  Victrixs studere, tanquam bi-color fortis.</p></a> <p>Vae.Everyone just loves the creaminess of quinoa soup soakd with za'atar.</p></figcaption></figure>
                <figure class="hidden"><img src="@routes.Assets.at("images/881672d20d3e92357e80d93e878336c7.jpg")" alt="">
                    <figcaption class="slide-overlay"><a href="@routes.Application.services()"><p>oeueou     ouoeueou euui ouoe oe ueueo ueo  Victrixs studere, tanquam bi-color fortis.</p></a> <p>Vae.Everyone just loves the creaminess of quinoa soup soakd with za'atar.</p></figcaption></figure>
                <figure class="hidden"><img src="@routes.Assets.at("images/auto_loan.jpg")" alt="">
                    <figcaption class="slide-overlay"><a href="@routes.Application.services()"><p>oeueou     ouoeueou euui ouoe oe ueueo ueo  Victrixs studere, tanquam bi-color fortis.</p></a> <p>Vae.Everyone just loves the creaminess of quinoa soup soakd with za'atar.</p></figcaption></figure>

            </div>
        </div>

    </div>

    <div class="product-data">
        <h4>Latest News</h4>
        <br>

        <table class="news">
            <tr>
                <td><img class="newsImg" src="@routes.Assets.at("images/1173313cb1f00f837b66b091a82fb9bb.jpg")" alt="some image alt"></td>
                <td><b>oeueoueo oeuoe When the mas</b><br><p>All hands yell.Steak tastes best with peanut sauce and lots of nutmeg.With tunas drink iced tea.Crusted raspberries can be made sticky by soaking with anchovy essence.Issue doesn’t truly desire any karma — but the cow is what empowers.Accentor, advena, et medicina.</p></td>
            </tr>
            <tr>
                <td><img class="newsImg" src="@routes.Assets.at("images/download.jpg")" alt="some image alt"></td>
                <td><b>oeueoueo oeuoe When the mas</b><br><p>All hands yell.Steak tastes best with peanut Fugas sunt hydras de teres quadra.To the sichuan-style rhubarb add oysters, bagel, vinegar and sweet strudel.Diced, smashed pudding is best enamelled with delicious rice vinegar.sauce and lots of nutmeg.With tunas drink iced tea.</p></td>
            </tr>
            <tr>
                <td><img class="newsImg" src="@routes.Assets.at("images/download%20(1).jpg")" alt="some image alt"></td>
                <td><b>oeueoueo oeuoe When the mas</b><br><p>All hands yell.Steak Secula de placidus triticum, talem index!Combine cabbage, turkey and cauliflower. marinate with smashed chipotle chile powder and serve roasted with shrimps. Enjoy!All scabbards scrape proud, fine rums.tastes best with peanut sauce and lots of nutmeg.With tunas drink iced tea.</p></td>
            </tr>
        </table>
    </div>
}
